!!!5
html
    head
        title DWW api
        

        //- Style Sheets

        /*link(
            rel="stylesheet",
            href='/stylesheets/index.css')
        */

        //- Standard Imports

        script(
            src="http://code.jquery.com/jquery-1.8.2.min.js",
            type="text/javascript")

        script(
            src="http://code.jquery.com/ui/1.8.24/jquery-ui.min.js",
            type="text/javascript")

    body