extends layout

block includes
  script(src='/js/dwwFront.js')
  script.
    var mapType = "#{mappingType}";
    var mapListUrl = "#{mappingListUrl}";
    var mapFileUrl = "#{mappingFile}";
  - var capitalize = function(str) {return str.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });};

block content
  div.top
    h1= title
    h3 Legend:
    p
      ul
        li
          span.verified &nbsp&nbsp&nbsp&nbsp
          span  Mapping exists between search and #{mappingType}.
        if mappingType == "company"
          li
            span.verified.role &nbsp&nbsp&nbsp&nbsp
            span  Search term is a role rather than a #{mappingType}.
        li
          span.verified.baddata &nbsp&nbsp&nbsp&nbsp
          span  Bad search term. Everything that isn't a proper search.

  div.container
    div#controls
      button#uploadMap Save changes
      button#useMapButton Toggle map file
    div#datatable
      table
        thead
          td.searchHeader Search
          td.nameHeader= capitalize(mappingType)
          td.searchCountHeader Search Count
          td.verifyControls
        tbody

  div.footer

  div#companydropdown.dropdown.dropdown-tip.dropdown-scroll
    ul.dropdown-menu